@model IEnumerable<CarDealer.Core.Models.OutputModels.CarDetailsModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-2">Top three most powerful cars</h2>
    <div class="row justify-content-center">
        <div class="col-9">
            <hr class=""/>
        </div>
    </div>

    <div class="row mt-5 justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Make) @Html.DisplayFor(modelItem => item.Model)</h5>
                        <p class="card-text">Year: @Html.DisplayFor(modelItem => item.Year)</p>
                        <p class="card-text">Horsepower: <strong>@Html.DisplayFor(modelItem => item.Horsepower)</strong></p>
                        <a asp-area="" asp-controller="Cars" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
    </div>
